:root {
    --primary-color: #E23D3D; 
    --hover-color: #e65757;
    --second-color: #212121;
    --text-color: #858181;
    --white-color: #FFFFFF;
    --primary-font: "Poppins", sans-serif;
    
}