:root {
    --primary-color: #E23D3D; 
    --hover-color: #e65757;
    --second-color: #212121;
    --text-color: #858181;
    --white-color: #FFFFFF;
    --primary-font: "Poppins", sans-serif;
    --boder--color: #dbdbdb;
}

.btn-red {
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    max-width: 15.4rem;
    box-shadow: 0 0.09rem 3.125rem 0 rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.btn-red a {
    padding: 11px 30px;
    display: block;
    text-decoration: none;
    color: var(--white-color);
}

.btn-red:hover a {
    background-color: var(--hover-color);
    transition: linear 0.25s;
}





