*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

body {
    font-family: var(--primary-font);
    background-color: var(--white-color);
    font-size: 1.4rem;
}

.ptb-200 {
    padding: 20rem 0;
}

.l-height72 {
    line-height: 7.2rem;
}

.l-height27 {
    line-height: 2.7rem;
}

.app {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.container-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    padding: 3rem 0;    
}

.header-logo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--second-color);
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.menu-link {
    text-decoration: none;
    color: var(--second-color);
}

.menu-link:hover {
    border-bottom: 2px solid var(--primary-color);
}

.header-account {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
}

.account-btn {
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--white-color);
}

.account-link {
    display: block;
    padding: 11px 30px;
    color: var(--second-color);
    text-decoration: none;
}

.account-btn:hover a{
    background-color: #F3F3F3;
    box-shadow: 0 0.09rem 3.125rem 0 rgba(0, 0, 0, 0.1);
    transition: linear 0.25s;
}

/* header content */

.header-main {
    padding-top: 13.3rem;
    background: url(../img/banner.png) top center / cover;
    background-repeat: repeat-x;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    color: var(--white-color);
}

.header-heading {
    max-width: 50rem;
    font-weight: 700;
    font-size: 4.8rem;
    margin: 0;
}

.header-text {
    font-size: 1.8rem;
    max-width: 71.5rem;
    text-align: justify;
    font-weight: 400;
}

.header-footer {
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.header-nav {
    width: 100%;
    max-width: 1030px;
    padding: 3rem 5rem;
    margin: 0 auto;
    background-color: var(--white-color);
    border-radius: 1.4rem;
}

.nav-list {
    display: flex;
    font-weight: 500;
    list-style: none;
    font-size: 1.6rem;
}

.nav-list .nav-item:nth-of-type(2){
    padding: 0 8rem;
}

.nav-item:hover a{
    color: var(--primary-color);
    transition: linear 0.25s;
}

.nav-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.nav-item-icon {
    margin: 0 1rem;
}

.about {

}
.about-content {

}
.about-title {
    text-align: center;
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.about-heading {
    text-align: center;
    color: var(--second-color);
    font-size: 4.8rem;
    font-weight: 600;
    max-width: 804px;
    width: 100%;
    margin: 0 auto;
}

.about-box-item {
    position: relative;
    margin-top: 10rem;
}

.about-box-wrap {
    text-align: center;
    width: 31rem;
}

.about-box-icon {
    box-shadow: 0 6px 1.8rem rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    display: flex;
}

.about-icon {
    color: var(--primary-color);
    font-size: 3rem;
    margin: auto;
}

.about-box-title {
    padding: 2rem 0 1rem 0;
    color: var(--second-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.about-text {
    color: var(--text-color);
    font-size: 1.8rem;
}

.about-vector-box1, 
.about-vector-box2 {
    width: 100%;
    max-width: 372px;
    padding: 0 1.5rem;
}

.about-vector {
    max-width: 100%;
    object-fit: cover;
}

.about-vector-box1 {
    position: absolute;
    top: 0;
    left: 16%;
    transform: translateY(-50%);
}

.about-vector-box2 {
    position: absolute;
    top: 0;
    right: 16%;
    transform: translateY(150%);
}

/* service */

.service {
    background-color: #000000;
}

.service-content {
    padding: 10rem 0;
}

.service-header {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.service-titile {
    color: var(--text-color);
    font-size: 1.8rem;
}

.service-heading {
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 600;
    margin: 0;
}

.service-main {
    margin-top: 10rem;
}

.service-left {
    color: var(--white-color);
}

.service-left-box {
    display: flex;
    align-items: center;
}

.service-left-box:nth-of-type(2) {
    margin: 2rem 0;
}

.service-left-box:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: linear 0.25s;
}

.block-number {
    display: flex;
    width: 4.8rem;
    height: 4.8rem;
    border: 1px dashed;
    margin-right: 2rem;
    border-radius: 50%;
}

.block-text-number {
    margin: auto;
    font-family: PT Serif;
    font-size: 2.2rem;
    font-weight: 700;
}

.left-box-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.service-right {
    color: var(--white-color);
    border-left: 1px solid #F3F3F3;
    height: 165px;
    display: flex;
}

.service-right-box {
    margin: auto;
    margin-left: 10rem;
}

.service-right-title {
    font-size: 2.4rem;
    font-weight: 500;
}

.service-right-text {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-top: 1rem;
}

.content {

}

.content-title {

}

.content-heading {
    
}