* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}


.container {
    width: 100%;
    height: 745px;
    display: flex;
}

.form {
    margin: auto;
    width: 800px;
    background-color: #FFFAF0;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    color: #333;
}

.form-main {
    position: relative;
    width: 100%;
    height: 52rem;
    padding: 1.5rem 2.5rem;
}

.form-heading {
    text-align: center;
    padding: 1.5rem 0 4rem 0;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.form-title {
    margin: 3rem 0 5px 0;
    font-weight: 600;
    display: block;
    cursor: pointer;
    font-size: 1.6rem;
}

.form-input {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline-color: #8FBC8F;
    font-size: 1.4rem;
}

.btn {
    position: absolute;
    right: 2.5rem;
    margin-top: 5rem;
    padding: 12px 50px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00b159;
    color: #FFFAF0;
    font-size: 1.4rem;
    outline: none;
}

.btn:hover {
    background-color: #49b780;
    transition: linear 0.3s;
}

.note {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.list-menu {
    width: 100%;
    padding: 1.5rem 2.5rem;
    list-style: none;
    font-size: 1.4rem;
}

.list-title {
    font-size: 1.4rem;
    padding: 0 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;

}
.list-wrap {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.list-wrap span {
    flex: 3;
    margin: 0.7rem 0;
}

.list-wrap-btn {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.btn-delete,
.btn-edit {
    right: 2.5rem;
    padding: 12px 30px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6497b1;
    color: #fff;
    font-size: 1.4rem;
    outline: none;
}

.btn-delete {
    background-color: #fe4a49;
}

.btn-delete:hover {
    background-color:  #ff6868;
    transition: linear .3s;
}

.btn-edit:hover {
    background-color: #7da2b5;
    transition: linear .3s;
}



